$primary-bg: #f8f8f8;
$text-color: #1B1C21;
$title-color: #7E7E82;
$border-radius: 6px;
$btn-radius: 16px;
$btn-border: 1px solid #EAEAEA;
$divider: #eaeaea;
$secondary-bg: #FFFFFF;
$gradient-bg: linear-gradient(90deg, #f8f8f8, #FFFFFF);
$border-top: 1px solid #D9FFF5;
